:root {
	--background: #0A0817;
	--primary: #49ACE9;
	--text: #E5E5FF;
	--secondary: #0A4A56;
	--misc: #49E9A6;

}

body{
	background-color: var(--background);
	color: var(--text);
}

.content{
	display:flex;	
	flex-direction: column;
	width:100%;
	margin-top:15px;
	justify-content: center;
	align-items: center;
}

.content > div{
	display:flex;	
	flex-direction: row;
	width:100%;
	justify-content: center;
	align-content: center;
}

button{
	min-width: 150px;
	min-height: 50px;
	border-radius: 25px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
	border: 1px solid var(--primary);
	color: var(--text);
}

.button-primary{
	background-color: var(--primary);
}

.button-secondary{
	background-color: var(--background);
}

.title{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size:80px;
}

.color-primary{
	color:var(--primary);
}
.color-secondary{
	color:var(--secondary);
}

.form{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text-input{
	width: 300px;
}

.helper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.checkbox-label{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
